{
  "plugins": ["stylelint-scss"],
  "extends": "stylelint-config-recommended",
  "rules": {
    "color-no-invalid-hex": true,
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
