$font-family: sans-serif;

$base-font-size: 20px;

$color-white: #ffffff;
$color-black: #000000;

$size-content: 900px;
$size-viewport: 92vw;

$transition: 100ms ease-in-out;

$break-l: 1200px;
$break-m: 900px;
$break-s: 700px;
