html {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $font-family;
  font-weight: normal;
  line-height: 1.5;
  color: $color-black;
}

main {
  max-width: $size-site;
  width: $size-viewport;
  margin: 0 auto;
}

.element {
  margin: 5rem auto;
}
