.element--text {
  margin: 2rem 0;
}

.user {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url('../../images/user.svg');
  background-size: contain;
}

.cat {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url('../../images/cat.jpg');
  background-size: contain;
}
